@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --grid-template-columns-table-dl: 100px minmax(0, 1fr);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.table-tr-hover:hover,
.table-tr-hover:hover + tr,
.table-tr-hover:has(+ tr:hover),
.table-tr-hover + tr:hover {
    @apply bg-gray-100;
}

.markdown-field p,
.markdown-field td {
    @apply pb-1 leading-4;
}

@media (min-width: 1024px) {
    .slide-down-enter-active {
        @apply transition-all duration-300 ease-in overflow-hidden;
    }

    .slide-down-enter-from,
    .slide-down-leave-to {
        @apply transform max-h-0;
    }

    .slide-down-enter-to,
    .slide-down-leave-from {
        @apply transform max-h-96;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
